= simple_form_for([:api, question],
                  builder: ValidatedFormBuilder,
                  is_form_submitted: errors.present?,
                  html: { class: "d-flex flex-column gap-2", "data-turbo": "true" }) do |f|
  = f.validated_input(:question,
                      get_formatted_errors(errors, :question),
                      label: "Your Question",
                      class: "fw-semibold",
                      placeholder: "Enter your question here")

  .d-flex.justify-content-end
    = button_tag(type: "submit", class: "btn btn-secondary fw-bold") do
      %i.bi.bi-send-fill
      &nbsp;
      Submit Question
