.mb-4.d-flex.justify-content-between
  = link_to(new_trip_path, class: "btn btn-primary") do
    %i.bi.bi-plus-circle &nbsp;
    Create Trip
  #view-buttons.d-flex.gap-2
    = render("partials/trips/view_buttons")

- if @trips.empty?
  .d-flex.flex-column.gap-4.align-items-center.justify-content-center.h-75.fs-1.text-dark-emphasis
    %i.bi.bi-postcard-heart
    .text-center
      %p.mb-0 You have no trips!
      %p.mb-0 Create a trip to get started.

#trips-view.flex-fill.mb-3
  - if params[:view] == "map"
    = render("partials/trips/map_view", trips: @trips)
  - else
    = render("partials/trips/list_view", trips: @trips)
