.mb-4.d-flex.justify-content-between
  = link_to(new_trip_path, class: "btn btn-primary") do
    %i.bi.bi-plus-circle &nbsp;
    Create Trip
  %button.btn.btn-light
    %i.bi.bi-chevron-down &nbsp;
    Sort by

- @trips.each_with_index do |trip|
  = link_to(trip_path(trip), class: "link-underline link-underline-opacity-0 mb-4 link-body-emphasis") do
    %section.trip-card.d-flex.flex-column.justify-content-end.p-2.rounded-3.border
      %h2.mb-0.fw-bold
        = trip.title
      %p.mb-0
        = trip.formatted_date_range
