.mb-4.d-flex.justify-content-between
  = link_to(new_trip_path, class: "btn btn-primary") do
    %i.bi.bi-plus-circle &nbsp;
    Create Trip
  %button.btn.btn-light
    %i.bi.bi-chevron-down &nbsp;
    Sort by

- if @trips.empty?
  .d-flex.flex-column.gap-4.align-items-center.justify-content-center.h-75.fs-1.text-dark-emphasis
    %i.bi.bi-postcard-heart
    .text-center
      %p.mb-0 You have no trips!
      %p.mb-0 Create a trip to get started.

- @trips.each_with_index do |trip|
  .mb-3
    = render("partials/trips/trip_card", trip: trip)
