---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/185.156.172.142/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 2bd01303c1df45d69801332d50c006ae-2956a852300d4c7a
      Baggage:
      - sentry-trace_id=2bd01303c1df45d69801332d50c006ae,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "185.156.172.142",
          "city": "Amsterdam",
          "region": "North Holland",
          "country": "NL",
          "loc": "52.3068,4.9453",
          "org": "AS9009 M247 Europe SRL",
          "postal": "1101",
          "timezone": "Europe/Amsterdam",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Fri, 21 Mar 2025 18:50:47 GMT
- request:
    method: get
    uri: http://ipinfo.io/210.138.184.59/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 05fcc8738ece4711804f403540bee05c-eba5e101c45e43bd
      Baggage:
      - sentry-trace_id=05fcc8738ece4711804f403540bee05c,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "210.138.184.59",
          "hostname": "59.184.138.210.rev.iijgio.jp",
          "city": "Asagaya-minami",
          "region": "Tokyo",
          "country": "JP",
          "loc": "35.7021,139.6375",
          "org": "AS2497 Internet Initiative Japan Inc.",
          "postal": "166-0000",
          "timezone": "Asia/Tokyo",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Fri, 21 Mar 2025 18:50:47 GMT
- request:
    method: get
    uri: http://ipinfo.io/178.238.11.6/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 731243c8684947de9c87ca6ed2ef345b-c5b6f933126f41bf
      Baggage:
      - sentry-trace_id=731243c8684947de9c87ca6ed2ef345b,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "178.238.11.6",
          "city": "London",
          "region": "England",
          "country": "GB",
          "loc": "51.5085,-0.1257",
          "org": "AS62240 Clouvider",
          "postal": "E1W",
          "timezone": "Europe/London",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Fri, 21 Mar 2025 18:50:47 GMT
recorded_with: VCR 6.3.1
