.accordion.mb-2{ id: "accordion-documents" }
  .accordion-item
    .accordion-header{ id: "heading-documents" }
      %button.accordion-button.collapsed{
        type: "button",
        "data-bs-toggle": "collapse",
        "data-bs-target": "#collapse-documents",
        "aria-expanded": "false",
        "aria-controls": "collapse-documents",
        "aria-label": "Toggle documents input",
      }
        Upload PDFs
    .accordion-collapse.collapse{
      id: "collapse-documents",
      "aria-labelledby": "heading-documents",
      "data-bs-parent": "#accordion-documents",
    }
      .accordion-body
        .p.small All files must be selected in one go
        = f.file_field(:documents, multiple: true, accept: "application/pdf", class: "form-control")
