#documents-table-container
  %h4.fw-semibold Documents
  %table.table.table-fit
    %tbody
      - plan.documents.each do |document|
        %tr{ id: "document-#{document.id}" }
          %td.p-0.align-middle.w-100
            = render("partials/plans/documents_list_item", document: document)
          %td.p-0.align-middle
            = button_to(trip_plan_document_path(plan.trip, plan, document_id: document.id),
                        method: :delete,
                        form: { class: "m-0", data: turbo_confirm("Are you sure you want to delete this document?") },
                        class: "btn btn-secondary btn-sm text-nowrap") do
              %i.bi.bi-trash
              Remove
