#plans-list.mb-3.overflow-hidden{ "data-controller": "trip-show" }
  - plan_groups.each do |(start_date, plans)|
    = render("partials/plans/plan_card_list", start_date: start_date, plans: plans, trip: trip)
