#scannable-tickets-table-container
  %h4.fw-semibold Scannable tickets
  %table#scannable-tickets-table.table.table-fit
    %tbody
      %thead
        %tr
          %th.text-break Title
          %th.text-break Code
          %th.pe-0 Actions
      - plan.scannable_tickets.decorate.each do |ticket|
        %tr.p-1{ id: "scannable_ticket-#{ticket.id}" }
          %td.align-middle.w-50.text-break
            = ticket.title_value
          %td.align-middle.w-50.text-break
            = ticket.code
          %td.pe-0.align-middle
            = button_to(trip_plan_scannable_ticket_path(plan.trip, plan, ticket_id: ticket.id),
                        method: :delete,
                        form: { class: "m-0", data: turbo_confirm("Are you sure you want to delete this QR code?") },
                        class: "btn btn-secondary btn-sm text-nowrap") do
              %i.bi.bi-trash
              Remove
