%table.table.table-fit
  %tbody
    - plan.scannable_tickets.each do |ticket|
      %tr.p-1
        %td.align-middle
          = ticket.code
        %td.align-right
          = button_to(trip_plan_scannable_ticket_path(plan.trip, plan, ticket_id: ticket.id),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this ticket?" },
                      form: { class: "m-0" },
                      class: "btn btn-secondary btn-sm text-nowrap") do
            %i.bi.bi-trash
            Remove
