.d-flex.flex-column.gap-2.mb-4{ id: (hidden ? "hidden-items" : "visible-items") }
  - questions.each do |question|
    = render("partials/admin/admin_item_card",
             type: "question",
      item: question,
      content: question.question,
      name: question.answer)

-# Second iteration is done to preserve orderding of questions, so when swapping order
  of questions, they dont swap with modals by accident etc
.d-flex.flex-column.gap-2.mb-4{ id: (hidden ? "hidden-items" : "visible-items") }
  - questions.each do |question|
    = render("partials/admin/admin_answer_modal", question: question)
