.d-flex.flex-column.gap-2.mb-4{ id: (hidden ? "hidden-items" : "visible-items") }
  - questions.each do |question|
    = render("partials/admin/admin_item_card",
             type: "question",
      item: question,
      content: question.question,
      name: question.answer)
    = render("partials/admin/admin_answer_modal", question: question)
