.col-lg-5.m-auto
  %h2.mt-3 Resend Unlock Instructions

  = simple_form_for(resource,
                    as: resource_name,
                    url: unlock_path(resource_name),
                    builder: ValidatedFormBuilder,
                    errors: resource.errors.to_hash(true),
                    html: { method: :post }) do |f|
    = f.validated_input(:email)

    .form-actions.mt-4.d-flex.justify-content-end.gap-2
      = f.button(:submit, "Resend Unlock Instructions", class: "btn-primary px-4")

  = render("partials/devise/shared/links")
