= turbo_stream.action("changeUrl", analytics_trips_url(page: params[:page]))

= turbo_stream.update("trips-table",
                      partial: "partials/analytics/trip_table_rows",
                      locals: { trips: @trips })

= turbo_stream.replace("pager-desktop",
                       partial: "partials/layouts/desktop_pager",
                       locals: { pagy: @pagy })
