= simple_form_for([:api, question],
                  builder: ValidatedFormBuilder,
                  errors: errors,
                  html: { class: "d-flex flex-column", "data-turbo": "true" }) do |f|
  = f.validated_input(:question,
                      label: "Your Question *",
                      "aria-label": "Your Question",
                      placeholder: "Enter your question here")

  .d-flex.justify-content-end
    = button_tag(type: "submit", class: "btn btn-primary", tabindex: 0) do
      %i.bi.bi-send-fill{ "aria-hidden": "true" }
      &nbsp;
      Submit Question
