= render("partials/admin/admin_item_dashboard",
         type: "review",
         path: update_orders_api_reviews_path,
         visible_items: @visible_reviews,
         hidden_items: @hidden_reviews)
