#form-map-overlay{ "aria-hidden": "true" }
  %h1
    %i.bi.bi-map
  %h2.fs-3.mb-3
    Add a Location to View on Map
  %a#search-location-btn.btn.btn-secondary.link-dark{
    "aria-label": "Search for a Location",
    tabindex: -1,
  }
    %i.bi.bi-search &nbsp;
    Search for a Location
