.col
  .d-flex.flex-row.align-items-center.justify-content-between
    %h1.fs-2.my-3 #{trips.size} #{"Trip".pluralize(trips.size)} Planned
    .dropdown
      %button.h-100.btn.btn-secondary.dropdown-toggle{
        type: "button",
        data: {
          bs_toggle: "dropdown",
        },
        aria: {
          expanded: "false",
        },
      }
        %i.bi.bi-filter{ "aria-hidden": "true" } &nbsp;
        Sort By

      .dropdown-menu
  .row.gy-3.flex-fill
    - trips.each_with_index do |trip|
      .col-12.col-xl-6.col-xxl-4
        = render("partials/trips/trip_card", trip: trip)
