= link_to(trip_path(trip),
          class: "btn btn-secondary",
                        "aria-label": "Back to trips page",
                        tabindex: 0) do
  %i.bi.bi-arrow-left{ "aria-hidden": "true" } &nbsp;
  Back to Trip
