- if params[:view] == "list"
  %button.btn.btn-light
    Sort by &nbsp;
    %i.bi.bi-chevron-down

.d-flex.align-items-center
  = add_param_button(:view, "list", "bi-list-ul")
  = add_param_button(:view, "map", "bi-pin-map")
