- if params[:view] == "list"
  - if params[:order] == "DESC"
    = add_param_button(:order, "ASC", "bi-arrow-down")
  - else
    = add_param_button(:order, "DESC", "bi-arrow-up")

.d-flex.align-items-center
  = add_param_button(:view, "list", "bi-list-ul")
  = add_param_button(:view, "map", "bi-pin-map")
