.review-slide
  .card
    .card-body
      %p.card-text.fw-semibold.text-secondary= review
      %p.card-text.fw-bold= author
    .card-body.pt-0
      %button.btn.btn-secondary.fw-bold
        = like_count
        %i.bi.bi-hand-thumbs-up
