.feature-slide
  .card.mb-2
  %h3.share-feature-name.display-8.fw-bold= feature
  %p.share-feature-description.fw-semibold.text-secondary= description
  %button.share-feature-button.btn.btn-light.fw-semibold.text-secondary
    %i.bi.bi-share-fill &nbsp;
    Share
