%li.timeline-item.mb-5
  %span.timeline-icon
    %i{ class: journey_icon.to_s }
  %p.text-muted.fw-bold
    = journey_header
  %h5.fw-bold
    = journey_title
  %p.small.text-muted.fw-semibold
    = journey_date
