%table.table.table-striped
  %thead
    %tr
      %th #
      - table_header.each do |header|
        %th= header
  %tbody
    - table_contents.each_with_index do |row, index|
      %tr
        %th= index + 1
        - row.each do |cell|
          %td= cell
