.card
  .row
    .col-4.d-flex.align-items-center.justify-content-center
      .card-icon.bg-secondary
        %i.display-6.text-light{ class: card_icons.to_s }
    .col-8
      .card-body.ps-0
        %h5.fw-semibold.card-title= card_title
        %p.card-text.fw-semibold.display-6= card_metric
        %p.card-text.text-secondary= card_time_period
