#offcanvasBottom.offcanvas.offcanvas-bottom{"aria-labelledby" => "offcanvasBottomLabel", :tabindex => "-1"}
  .offcanvas-header.border-bottom
    .container.d-flex.flex-row.justify-content-center.align-items-center
      .d-flex.justify-content-center.align-items-center.bg-primary{ style: "width: 64px; height: 64px; border-radius: 8px;" }
        = image_pack_tag("images/roamio_brand_icon_white.png", height: 32)
      .d-flex.flex-column.ms-3
        %h5.m-0.fw-bold View Trip Timeline
        %p.text-secondary.fw-semibold.m-0 roamio.com

      %button.btn-close.text-reset{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", :type => "button"}
  .offcanvas-body.small
    .container
      .d-flex.gap-3
        %a.btn.border-0.d-flex.flex-column.align-items-center.gap-2.fw-semibold.text-secondary
          %i.bi.bi-facebook.text-light.display-3.d-flex.justify-content-center.align-items-center{ style: "width: 96px; height: 96px; border-radius: 8px; background-color: #3b5998;" }
          %small Facebook
        .d-flex.justify-content-center.align-items-center{ style: "width: 96px; height: 96px; border-radius: 8px; background-color: #25d366;" }
          %i.bi.bi-whatsapp.text-light.display-3
