= turbo_stream.replace("new_user",
                       partial: "partials/admin/dashboard/invite_form",
                       locals: { user: User.new, errors: nil })

= turbo_stream.append("staff-table-body",
                      partial: "partials/admin/dashboard/staff_row",
                      locals: { user: @user.decorate })
