%ul.nav.nav-pills.fw-semibold.mb-3.ms-3
  %li.nav-item
    %button.nav-link.active{
      "data-bs-target": "#today-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by Day",
      tabindex: 0,
    } Day
  %li.nav-item
    %button.nav-link{
      "data-bs-target": "#week-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by Week",
      tabindex: 0,
    } Week
  %li.nav-item
    %button.nav-link{
      "data-bs-target": "#month-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by Month",
      tabindex: 0,
    } Month
  %li.nav-item
    %button.nav-link{
      "data-bs-target": "#all-time-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by All Time",
      tabindex: 0,
    } All Time
