.row
  .col-lg-4.mb-3
    = render("partials/analytics/reporter_dashboard_card",
                   card_icons: "bi bi-suitcase-lg",
                   card_title: "Trips Created",
                   card_metric: trips_created,
                   card_time_period: time_period)
  .col-lg-4
    = render("partials/analytics/reporter_dashboard_card",
                   card_icons: "bi bi-calendar-event",
                   card_title: "Plans Created",
                   card_metric: plans_created,
                   card_time_period: time_period)
  .col-lg-4
    = render("partials/analytics/reporter_dashboard_card",
                   card_icons: "bi bi-send me-1",
                   card_title: "Invitations Sent",
                   card_metric: invitations_sent,
                   card_time_period: time_period)
