%p
  You've been invited to join Roamio!,

%p
  = @referrer.username
  wants you to join Roamio, a collaborative app to organise trip tickets, bookings, and activities!

%p
  No more searching through files, emails, and group chats!

%p
  = link_to("Click here", @signup_url)
  to sign up and start exploring!

%p Best,
%p Roamio
