.flex-grow-1.d-flex.justify-content-center.align-items-center.flex-column.text-center
  .error-icon
    %i{ class: icon_class }
  %h1= heading_text
  %p.text-secondary= sub_text
  = link_to(button_path,
            class: "btn btn-primary py-2",
            "aria-label": button_aria_label,
            tabindex: 0) do
    %i{ class: button_icon_class, "aria-hidden": "true" } &nbsp;
    = button_text
