#toast-list.toast-container.top-0.start-50.translate-middle-x.mt-2.d-flex.flex-column.align-items-center.fixed-top
  - flash[:notifications].each do |notification|
    = render("partials/layouts/toast",
             message: notification[:message],
             notification_type: notification[:notification_type])

- flash.discard(:notifications)
