= image_tag(user.avatar_or_default,
            height: 40,
            width: 40,
            class: "rounded-circle me-2 me-lg-3 bg-light border",
            id: "user-navbar-avatar",
            alt: "")
