.row
  %h1.fs-2.mb-0
    Manage Members
  .my-2
    = render("partials/trips/trips_back_button", trip: @trip)
  %hr

%section.mt-3
  %h2.fs-3
    %i.bi.bi-person-fill-add &nbsp;
    Invite Members
= render("partials/trip_memberships/form",
         trip: @trip,
         trip_membership: @trip_membership,
         users: @users,
         errors: @errors)

%section.mb-4
  %h2.fs-3
    %i.bi.bi-person-fill &nbsp;
    Current Members

  - @members.each do |member|
    = render("partials/trip_memberships/member_card", member: member)

- if @pending_members.any?
  %section
    %h2.fs-3
      %i.bi.bi-person-fill-exclamation &nbsp;
      Pending Members

    - @pending_members.each do |member|
      = render("partials/trip_memberships/member_card", member: member)
