@import "variables";
@import "~bootstrap/scss/bootstrap";

// .aa prefix is for the algolia autocomplete input, used for geolocation

.aa-Autocomplete {
  padding: 0;
  border: none;
  border-radius: none;
}

.aa-Input {
  padding: 0;
  font-size: 16px;
}

.aa-DetachedSearchButtonPlaceholder {
  color: $input-placeholder-color;
  opacity: 1;
}

.aa-SubmitIcon {
  color: $body-color;
}

.aa-Item {
  background-color: $body-bg;
  cursor: pointer;
}

.aa-Item:hover {
  background-color: darken($body-bg, 5%);
}

.aa-DetachedSearchButton {
  @extend .form-control;
  color: $body-color;
  padding: 0;
  display: flex;
  height: 2.375rem;
}

// form-control-btn is used for buttons that look like text inputs (e.g. date range picker)
.form-control-btn{
  @extend .form-control, .fw-semibold, .text-start;
  color: $input-placeholder-color;
}

.form-control-btn-selected{
  @extend .form-control-btn;
  color: $body-color;
}

.membership-button {
  height: 2.375rem;
}

.form-map {
  @extend .flex-fill;
  height: 35rem;
  max-height: 50vh;
}


// Styling for QR code input
#qr-navigation {
  @extend .text-center;
}

.qr-result-item {
  display: none;
}

#qr-counter {
  @extend .mx-3, .d-inline-block, .text-center;
  width: 4rem;
}

#qr-codes-container {
  max-width: 17rem;
}

.qr-error{
  @extend .fw-semibold, .form-control, .m-0, .text-danger;
  border-color: transparent;
}

@include media-breakpoint-down(md) {
  #qr-codes-container {
    max-width: 100%;
  }
}