@use "base_styles" as bs;

// .aa prefix is for the algolia autocomplete input, used for geolocation

.aa-Autocomplete {
  padding: 0;
  border: none;
  border-radius: none;
}

.aa-Input {
  padding: 0;
  font-size: 16px;
}

.aa-DetachedSearchButtonPlaceholder {
  color: bs.$input-placeholder-color;
  opacity: 1;
}

.aa-SubmitIcon {
  color: bs.$body-color;
}

.aa-Label svg {
  color: bs.$body-color;
}

.aa-DetachedFormContainer {
  background-color: bs.$roamio-secondary;
  padding-top: max(8px, env(safe-area-inset-top));
}

.aa-DetachedCancelButton {
  @extend .fw-semibold, .text-light;
}

.aa-PanelLayout {
  background-color: bs.$body-bg;
}

.aa-Item {
  background-color: bs.$body-bg;
  cursor: pointer;
}

.aa-Item:hover {
  background-color: darken(bs.$body-bg, 5%);
}

.aa-Form {
  @extend .rounded;
}

.aa-DetachedSearchButton {
  @extend .form-control;
  @extend .bg-light;
  color: bs.$body-color;
  padding: 0;
  display: flex;
  height: 2.375rem;
}

// form-control-btn is used for buttons that look like text inputs (e.g. date range picker)
.form-control-btn{
  @extend .form-control, .text-start;
  color: bs.$input-placeholder-color;
}

.form-control-btn-selected{
  @extend .form-control-btn;
  color: bs.$body-color;
}

.membership-button {
  height: 2.375rem;
}

.form-map {
  height: 35rem;
  max-height: 50vh;
}

#form-map-overlay {
  @extend .w-100, .h-100, .d-flex, .justify-content-center, .align-items-center, .flex-column;
  @extend .position-absolute;
  @extend .text-light;
  opacity: 0;
  background-color:rgba(0, 0, 0, 0.6);
}

// Styling for QR code input
#qr-navigation {
  @extend .text-center;
}

.qr-result-item {
  display: none;
}

#qr-counter {
  @extend .mx-3, .d-inline-block, .text-center;
  width: 4rem;
}

#qr-codes-container {
  max-width: 17rem;
}

.qr-error{
  @extend .fw-semibold, .form-control, .m-0, .text-danger;
  border-color: transparent;
}

@include bs.media-breakpoint-down(md) {
  #qr-codes-container {
    max-width: 100%;
  }
}

.tempus-dominus-widget {
  --td-active-bg: #{bs.$roamio-primary};
  --td-range-bg: #{darken(bs.$roamio-primary, 10%)};

  @extend .border;
  padding-top: 10px;

  .picker-switch {
      @extend .roamio-header;
  }
  
  .dow, .month, .year, .decade {
      @extend .fw-semibold;
  }
}
