html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}

.review-card {
  flex-basis: 20rem;
}

.login-card {
  width: 30rem;
}
