// Imports
@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import 'twitter_bootstrap';

// Fix overflowing issue on Safari
#trips-view {
  height: 100%;
}

#trips-map {
  @extend .border, .rounded;
}

.leaflet-div-icon {
  isolation: isolate;

  background-color: transparent !important;
  border-color: transparent !important;

  color: white;
  svg {
    height: 100%;
    width: 100%
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
