@use "base_styles" as bs;

.trip-card {
  height: 15rem;

  @include bs.media-breakpoint-up(md) {
    height: 13rem;
  }

  overflow: hidden;
  transition: box-shadow 0.6s ease-in-out;

  img {
    transition: transform 0.6s ease-in-out;
  }

  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    img {
      transform: scale(1.03);
    }
  }

}

.avatar-img {
  @extend .rounded-circle;
  @extend .object-fit-cover;
  @extend .align-self-center;

  width: 2.7rem;
  height: 2.7rem;
}

.overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 45%);
  pointer-events: none;
}

.trip-image-preview {
  @extend .object-fit-cover;
  @extend .rounded-top;

  height: 10rem;
  width: 33%; // Simulate how the trip preview cards look
}

@include bs.media-breakpoint-down(lg) {
  .trip-image-preview{
    width: 100%;
  }
}
