%ul.nav.nav-pills.fw-semibold.mb-3.ms-3
  %li.nav-item
    %button.nav-link.active{
      "data-bs-target": "#today-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by Day",
      tabindex: 0,
    } Day
  %li.nav-item
    %button.nav-link{
      "data-bs-target": "#week-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by Week",
      tabindex: 0,
    } Week
  %li.nav-item
    %button.nav-link{
      "data-bs-target": "#month-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by Month",
      tabindex: 0,
    } Month
  %li.nav-item
    %button.nav-link{
      "data-bs-target": "#all-time-tab",
      "data-bs-toggle": "pill",
      type: "button",
      "aria-label": "Filter by All Time",
      tabindex: 0,
    } All Time
.tab-content
  #today-tab.tab-pane.show.active
    = render("partials/reporter/reporter_dashboard_cards_tab",
             landing_page_visits: landing_page_visits_today,
             registrations: registrations_today,
             time_period: "Today")
  #week-tab.profile.tab-pane
    = render("partials/reporter/reporter_dashboard_cards_tab",
             landing_page_visits:  landing_page_visits_this_week,
             registrations: registrations_this_week,
             time_period: "This Week")
  #month-tab.tab-pane
    = render("partials/reporter/reporter_dashboard_cards_tab",
             landing_page_visits:  landing_page_visits_this_month,
             registrations: registrations_this_month,
             time_period: "This Month")
  #all-time-tab.tab-pane
    = render("partials/reporter/reporter_dashboard_cards_tab",
             landing_page_visits: landing_page_visits_all_time,
             registrations: registrations_all_time,
             time_period: "All Time")
