-# Hero section
%section.row.align-items-center.py-5.g-4
  .col-lg-6.text-center.text-lg-start
    %h1.display-5.fw-bold.lh-1.mb-3
      All your trip
      %br
      One simple space
    %p.fw-semibold Roamio is a collaborative way to manage tickets, bookings and activities
    = link_to("#", class: "btn btn-primary btn-lg d-lg-none fw-semibold") do
      %i.bi.bi-compass &nbsp;
      Join the travel revolution
  .col-lg-6.px-0
    %img.d-flex.img-fluid{ alt: "", height: "500", loading: "lazy", width: "700" }

-# About section
%section.row.align-items-center.py-5.px-4.bg-primary
  .col-lg-6.text-center.text-lg-start
    %h2.display-6.fw-bold.lh-1.mb-3
      No more searching through files, emails and group chats
    %p.fw-semibold
      All your travel plans, instantly accessible
  .col-lg-6

-# Features carousel section
%section.row.align-items-center.py-5.g-4
  .col-lg-6.text-center.text-lg-start
    %h3.display-7.fw-bold.lh-1.mb-3
      Seamless travel, organised
