.d-flex.flex-row.gap-2.flex-wrap{ style: "margin-top: 70px;" }
  .card.text-bg-dark.border-0.shadow{ style: "height: 230px; max-width: 386px;" }
    = image_pack_tag("images/gradient.jpg", class: "card-img overflow-hidden")
    .card-img-overlay
      .position-absolute.bottom-0.d-flex.flex-row.align-items-center.mb-2
        %i.bi.bi-plus.fs-3.me-3
        %h5.m-0 Create Trip
  .card.text-bg-dark.border-0.shadow{ style: "height: 230px; max-width: 386px;" }
    = image_pack_tag("images/gradient.jpg", class: "card-img overflow-hidden")
    .card-img-overlay
      .position-absolute.bottom-0.d-flex.flex-row.align-items-center.mb-2
        %h5.m-0 View Past Trips
