.grid-repeat-bg.position-absolute.top-0.start-0
#showcase-carousel.swiper.showcase-carousel
  .swiper-wrapper
    .swiper-slide
      .showcase-slide
        %btn.btn.btn-light.w-100.h-100
          dsada
    .swiper-slide
      .dd
    .swiper-slide
      .dd
  .swiper-button-prev
  .swiper-button-next
%btn.btn.btn-light.fw-semibold.mb-4
  %i.bi.bi-geo &nbsp;
  View All Trips
%h4.fw-semibold Destinations
#showcase-carousel.swiper.showcase-carousel
  .swiper-wrapper
    .swiper-slide
      .dd
    .swiper-slide
      .dd
    .swiper-slide
      .dd
  .swiper-button-prev
  .swiper-button-next