.row
  .app-header
    %h1.fs-2.mb-0 Inbox

.my-2
- if @inbox_msgs.empty?
  = render("partials/layouts/no_data_placeholder",
           icon_class: "bi bi-postcard-heart",
           heading_text: "Your Inbox is Empty",
           sub_text: "You haven’t been invited to any trips yet. Once you’re invited, your invites will appear here!",
           button_text: "Go to Roamio Home",
           button_aria_label: "Go to Roamio Home",
           button_icon_class: "bi bi-house",
           button_path: root_path)

#messages
  = render("partials/pages/inbox_message_list", inbox_messages: @inbox_messages)

= render("partials/layouts/responsive_pager", pagy: @pagy)
