%h1.display-5.fw-bold.lh-1.mb-3
  Num of trips made:
  = @trips.size

= render("trips/form", trip: @trip, errors: @errors)

%section#faq-container.row.align-items-center.py-5
  %h2.text-center.text-lg-start.fw-bold
    All Trips
  %table
    %tbody
      %th 
        title 
      %th
        description
      %th
        start-date
      %th
        end-date
    - @trips.each_with_index do |trip, index|
      %tr
        %td
          =trip.title
        %td 
          =trip.description
        %td
          =trip.start_date
        %td
          =trip.end_date

