// The date range picker using Tempus Dominus. The HAML here is from the example implementation
// This isn't actually a part of the form, but instead updated the hidden fields above when a range is selected
// To use:
//         1) The form must include a hidden start_date and end_date text field,
//         2) The date_range_picker.js file must be loaded
//         3) The a single-day mode toggle switch must be present, created as follows:
//            %input#single-day-switch.form-check-input{ type: "checkbox", checked: trip.single_day? }

#datetimepicker-target.col-sm-12
  #datetimepicker-element.input-group.log-event{
    "data-td-target-input" => "nearest",
    "data-td-target-toggle" => "nearest",
  }
    %input#datetimepicker-input.form-control-btn.rounded.fw-normal.my-1{
      "data-td-target" => "#datetimepicker-element",
      "data-td-toggle" => "datetimepicker",
      type: "button",
      value: "When are you going?",
      class: get_error_class_with(errors, :date),
    }
    = form_error_message(errors, :date)
    .valid-feedback
      Looks good!
