---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/185.156.172.142/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - ef2e495b6afb412780e6e9e1d69689a2-7fd3701fda7f48fc
      Baggage:
      - sentry-trace_id=ef2e495b6afb412780e6e9e1d69689a2,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "185.156.172.142",
          "city": "Amsterdam",
          "region": "North Holland",
          "country": "NL",
          "loc": "52.3068,4.9453",
          "org": "AS9009 M247 Europe SRL",
          "postal": "1101",
          "timezone": "Europe/Amsterdam",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Wed, 12 Mar 2025 14:19:38 GMT
[...]
- request:
    method: get
    uri: http://ipinfo.io/185.156.172.142/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - f334a5ae55d5422fb426534c655bd4dc-52eec45b760e4a9f
      Baggage:
      - sentry-trace_id=f334a5ae55d5422fb426534c655bd4dc,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "185.156.172.142",
          "city": "Amsterdam",
          "region": "North Holland",
          "country": "NL",
          "loc": "52.3068,4.9453",
          "org": "AS9009 M247 Europe SRL",
          "postal": "1101",
          "timezone": "Europe/Amsterdam",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Wed, 12 Mar 2025 14:19:39 GMT
recorded_with: VCR 6.3.1
