%button.swiper-button-prev{ data: { bs_toggle: "tooltip", bs_placement: "bottom", bs_title: "Previous Slide" } }
  %i.bi.bi-chevron-left
%button.swiper-button-next{ data: { bs_toggle: "tooltip", bs_placement: "bottom", bs_title: "Next Slide" } }
  %i.bi.bi-chevron-right
