- loc = { trip: @plan.trip, plan: @plan, errors: flash[:errors], backup_plan: true, primary_plan: @plan.primary_plan }

= turbo_stream.replace("new_plan",
                       partial: "partials/plans/form",
                       locals: loc)
