- locals = { trip: @plan.trip, plan: @plan, errors: flash[:errors], backup_plan: true }

= turbo_stream.replace("edit_plan_#{@plan.id}",
                       partial: "partials/plans/form",
                       locals: locals)
