= render("partials/errors/error_page",
         title: "Oops! We couldn't find that page",
         message: "It’s not you, it’s us. The page you're looking for might have moved or never existed",
         button_text: "Back to Roamio Home",
         button_path: root_path,
         icon_class: "bi bi-cone-striped",
         status_code: @status_code)
