.d-flex.flex-column.align-items-center
  %h1.display-1.bg-light.p-4.rounded-circle
    %i.bi.bi-cone-striped
  %h1 Page Not Found
  %p Sorry, we can't seem to find the page you're looking for
  = link_to(root_path, class: "btn btn-secondary") do
    %i.bi.bi-house-fill{ "aria-hidden": "true" } &nbsp;
    Roamio Home
