= render("partials/errors/error_page",
         title: "Oops! Something went wrong",
         message: "It’s not you, it’s us. We’re working to fix the issue, please try again shortly",
         button_text: "Back to Roamio Home",
         button_path: root_path,
         icon_class: "bi bi-emoji-frown",
         status_code: @status_code)
