= render("partials/admin/admin_item_dashboard",
         type: "question",
         path: orders_api_questions_path,
         visible_items: @visible_questions,
         hidden_items: @hidden_questions)
