= form_with(url: referrals_path,
            id: "new-referral",
            method: :post,
            html: { "class": "mb-0 d-flex gap-3 flex-column flex-lg-row align-items-start", "data-turbo": "true" },
            builder: ValidatedFormBuilder,
            errors: errors) do |f|
  = f.validated_input(:email,
                      value: email,
                      placeholder: "Enter their email address",
                      class: "referral-input w-50",
                      "aria-label": "Invite email to Roamio")

  = button_tag(type: "submit",
               class: "btn btn-primary text-nowrap registration-button",
               "aria-label": "Invite email to Roamio",
               tabindex: 0) do
    %i.bi.bi-send{ "aria-hidden": "true" } &nbsp;
    Invite to Roamio