= form_with(url: referrals_path,
            method: :post,
            html: { "class": "d-flex gap-3 flex-column flex-lg-row align-items-start", "data-turbo": "true" }) do |f|
  = f.email_field(:email,
                  required: true,
                  placeholder: "Enter their email address",
                  class: "form-control w-100")

  = button_tag(type: "submit", class: "btn btn-primary text-nowrap fw-bold") do
    %i.bi.bi-bell &nbsp;
    Invite to Roamio
