.d-flex.flex-fill.justify-content-center.align-items-center
  .pb-5.mb-5.text-center.text-lg-start
    %h1.fw-bold Hello! You've caught us early
    %p.text-secondary
      We're working to make Roamio available for wider release.
      Register your interest, and you'll be the first to know!
    .mt-4.text-start
      = render("subscriptions/form", registration: @registration, errors: @errors, subscription_tier_id: params[:s_id])
