-# %h2= t "devise.invitations.new.header"
-# = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f|
-#   = f.error_notification
-#   - resource.class.invite_key_fields.each do |field|
-#     .form-inputs
-#       = f.input field
-#   .form-actions
-#     = f.button :submit, t("devise.invitations.new.submit_button")

-# %h2= t "devise.invitations.new.header"
-# = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f|
-#   = f.error_notification
-#   - resource.class.invite_key_fields.each do |field|
-#     .form-inputs
-#       = f.input field
-#   .form-group.mb-0
-#     = f.select(:user_role,
-#                options_for_select(User.user_roles.keys.map { |r| [r.humanize, r] }),
-#                { include_blank: "Role" },
-#                { class: "form-select form-control w-auto", required: true })
-#   .form-actions
-#     = f.button :submit, t("devise.invitations.new.submit_button")
