= turbo_stream.update("view-buttons",
                      partial: "partials/trips/view_buttons")

- if params[:view] == "map"
  = turbo_stream.update("trips-view",
                        partial: "partials/trips/map_view",
                        locals: { trips: @trips })
- else
  = turbo_stream.update("trips-view",
                        partial: "partials/trips/list_view",
                        locals: { trips: @trips })
