.review-slide
  .card
    .card-body
      %p.card-text.fw-semibold.text-secondary= review_obj.content
      %p.card-text.fw-bold= review_obj.name
    .card-body.pt-0
      = form_with(url: like_api_review_path(review_obj),
                  method: :post,
                  html: { "data-turbo": "true" }) do |_f|
        = render("partials/reviews/like_button", review: review_obj)
