.review-slide
  .card.bg-light
    .card-body
      %p.card-text.text-secondary{ id: "review-content-#{review_obj.id}" }= review_obj.content
      %p.card-text.roamio-text= review_obj.name
    .card-body.pt-0
      = form_with(url: like_api_review_path(review_obj),
                  method: :post,
                  html: { "data-turbo": "true" }) do |_f|
        = render("partials/reviews/like_button", review: review_obj)
