#social-share-offcanvas.offcanvas.offcanvas-bottom{ "aria-labelledby": "Social Share Menu", tabindex: "-1" }
  .offcanvas-header.border-bottom
    .container.d-flex.flex-row.justify-content-center.align-items-center
      .social-share-web-icon{ "aria-hidden": "true" }
        = image_pack_tag("images/roamio_brand_icon_white.webp", height: 32, width: 43)
      .d-flex.flex-column.ms-3
        %h5#social-share-title.m-0
        %p#social-share-url.text-secondary.m-0
      %button.btn-close.text-reset{ "aria-label": "Close Social Share", "data-bs-dismiss": "offcanvas", type: "button" }
  .offcanvas-body
    .container
      .d-flex.gap-3
        %a#social-share-clipboard.btn.social-share-btn.d-flex.align-items-center{
          tabindex: 0,
          "aria-label": "Copy Feature Description to Clipboard",
        }
          %i.bi.bi-clipboard.display-4
          %span.text-secondary Copy Description
        %a#social-share-email.btn.social-share-btn.d-flex.align-items-center{
          tabindex: 0,
          target: "_blank",
          "aria-label": "Share Feature via Email",
        }
          %i.bi.bi-envelope.display-2
          %span.text-secondary Email
        %a#social-share-facebook.btn.social-share-btn.d-flex.align-items-center{
          tabindex: 0,
          target: "_blank",
          "aria-label": "Share Feature on Facebook",
        }
          %i.bi.bi-facebook.display-2
          %span.text-secondary Facebook
        %a#social-share-twitter.btn.social-share-btn.d-flex.align-items-center{
          tabindex: 0,
          target: "_blank",
          "aria-label": "Share Feature on Twitter",
        }
          %i.bi.bi-twitter-x.display-2
          %span.text-secondary Twitter
        %a#social-share-whatsapp.btn.social-share-btn.d-flex.align-items-center{
          tabindex: 0,
          target: "_blank",
          "aria-label": "Share Feature on WhatsApp",
        }
          %i.bi.bi-whatsapp.display-2
          %span.text-secondary WhatsApp
