---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/185.156.172.142/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - a7e41b2d77ce413f82fddce2ed9b48ed-8882ee666c5a4a28
      Baggage:
      - sentry-trace_id=a7e41b2d77ce413f82fddce2ed9b48ed,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "185.156.172.142",
          "city": "Amsterdam",
          "region": "North Holland",
          "country": "NL",
          "loc": "52.3068,4.9453",
          "org": "AS9009 M247 Europe SRL",
          "postal": "1101",
          "timezone": "Europe/Amsterdam",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Fri, 21 Mar 2025 18:52:19 GMT
[...]
- request:
    method: get
    uri: http://ipinfo.io/185.156.172.142/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - f2c57eb344fe437f983e3f8c68ecf663-7fa648e7cf1b4b7d
      Baggage:
      - sentry-trace_id=f2c57eb344fe437f983e3f8c68ecf663,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "185.156.172.142",
          "city": "Amsterdam",
          "region": "North Holland",
          "country": "NL",
          "loc": "52.3068,4.9453",
          "org": "AS9009 M247 Europe SRL",
          "postal": "1101",
          "timezone": "Europe/Amsterdam",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Fri, 21 Mar 2025 18:52:20 GMT
recorded_with: VCR 6.3.1
