= turbo_stream.update("visible-count", @visible_items.count)
= turbo_stream.update("hidden-count", @hidden_items.count)

= turbo_stream.update("visible-items",
                      partial: "partials/admin/admin_item_list",
                      locals: { items: @visible_items.decorate })

= turbo_stream.update("hidden-items",
                      partial: "partials/admin/admin_item_list",
                      locals: { items: @hidden_items.decorate })
