%body{ style: "font-family: Arial, sans-serif; background-color: #f2f2f2; color: black;" }
  %div{ style: "max-width: 600px; margin: auto; background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 8px rgba(0,0,0,0.5);" }

    %p{ style: "font-size: 1em; color: #575757;" }
      Hello
      %strong #{@resource.email}!

    %p{ style: "font-size: 1em;" }
      We're contacting you to notify you that your password has been changed.

    %p{ style: "font-size: 0.8em; color: #8f8f8f; margin-top: 40px;" }
      Best,
      %br
      The Roamio Team
