%body{ style: "font-family: Arial, sans-serif; background-color: #f2f2f2; color: black;" }
  %div{ style: "max-width: 600px; margin: auto; background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 8px rgba(0,0,0,0.5);" }

    %p{ style: "font-size: 1em; color: #575757;" }
      Hello
      %strong #{@resource.email}!

    %p{ style: "font-size: 1em;" }
      Someone has requested a link to change your password. You can do this through the link below.

    %p{ style: "text-align: center; margin: 35px 0;" }
      = link_to("Change My Password",
                edit_password_url(@resource, reset_password_token: @token),
                style: "background-color: #d12c4f; color: white; padding: 12px; text-decoration: none; border-radius: 5px; font-weight: bold; display: block;")

    %p{ style: "font-size: 1em;" }
      If you didn't request this, please ignore this email.

    %p{ style: "font-size: 1em;" }
      Your password won't change until you access the link above and create a new one.

    %p{ style: "font-size: 0.8em; color: #8f8f8f; margin-top: 40px;" }
      Best,
      %br
      The Roamio Team
