%h2= @plan.title
%h4.mb-4= @plan.start_date.strftime("%A, %d %B %Y")

- if @plan.plan_type.starts_with?("travel_")
  = render("partials/plans/travel_card", plan: @plan)
- else
  = render("partials/plans/event_card", plan: @plan)
