= turbo_stream.replace("avatar-form",
                       partial: "partials/devise/registrations/avatar_form",
                       locals: { user: @current_user })

= turbo_stream.replace("user-navbar-avatar",
                       partial: "partials/layouts/user_avatar",
                       locals: { user: @current_user })