.mb-4
  %h1 Manage #{type.capitalize}s
  = link_to(admin_dashboard_path) do
    Back to admin dashboard

= render("partials/admin/admin_item_turbo_frame", type: type, visible_items: visible_items, hidden_items: hidden_items)
